{% extends "base.html" %}

{% block content %}
    <form action="/login/" method="post">
        {% csrf_token %}
        <p><label for="username">Username:</label></p>
        <p><input type="text" name="username" id="username"></p>
        <p><label for="password">Password:</label></p>
        <p><input type="password" name="password" id="password"></p>
        {% if login_error %}
            <p><label class="error">{{ login_error }}</label></p>
        {% endif %}
        <input class="button" type="submit" value="Sign in">
{% endblock %}
