{% extends "base.html" %}

{% block content %}
    <form action="/login/" method="post">
        {% csrf_token %}
        <p><label for="username">Имя пользователя</label>
        <input type="text" name="username" id="username">
        <p><label for="password">Пароль</label>
        <input type="password" name="password" id="password"><p>
        {% if login_error %}
            <label class="error">{{ login_error }}</label><p>
        {% endif %}
        <input class="button" type="submit" value="Войти">
{% endblock %}
