{% extends "base.html" %}

{% block title %}
	{{ block.super }}<h3>Question №{{ question.id }} by {{ question.author }}</h3>
{% endblock %}

{% block content %}

  <h3>Question:</h3>
  {{ question.title }}<br />
  {{ question.text }}<br />

  {% block answers %}
    <h3>Answers:</h3>
    {% for answer in answers %}
      <div class="answer">
        <p class="info">
	    Answer by {{ answer.author }} [{{ answer.added_at }}]
	</p>
	{{ answer.text }}<br />
      </div>
    {% endfor %}
  {% endblock %}
    
  {% block add_answer %}
    <h3>Add answer</h3>
    {% for e in form.non_field_errors %}
        <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" action="/question/{{ question.id }}/" method="post">
    {% csrf_token %}
        {# {{ form.as_p }} #}
        <fieldset>
            {% for field in form %}
                <div class="control-group {% if field.errors %}has-error{% endif %}">
                    <label class="control-label">{{ field.label}}</label>
                    <div class="controls">{{ field }}</div>
                </div>
            {% endfor %}
        </fieldset>
        <input type="submit" class="button" value="Add">
    </form>
  {% endblock %}

{% endblock %}
