<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>

    <style>
        .right
        {
            display: inline;
            margin-right: 25px;
            padding: 10px 50px;
            float: right;
            color: black;

            border-radius: 15px;
            border: 1px solid black;
            text-decoration: none;
            transition: color 0.5s, background 0.5s;
        }

        a:hover
        {
            color: white;
            background: blue;
            border: 1px solid blue;
        }
    </style>
</head>

{% if user.is_authenticated %}
    <a href=/logout/" class="right">Logout ({{ user.username }})</a>
{% else %}
    <a href="/signup/" class="right">Sign up</a>
    <a href="/login/" class="right">Sign in</a>
{% endif %}

